.products-list {
  padding: 10px;
  margin-top: 10px;
  .item-row {
    display: flex;
    padding: 10px;
  }
  .item-row .item {
    margin: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .item-row .item.title {
    font-size: 1.5rem;
    font-weight: bold;
    font-size: 35px;
  }
}
