.products-list {
  padding: 10px;
  margin-top: 10px;
  .item-row {
    display: flex;
    padding: 10px;
  }
  .item-row .item {
    margin: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item-row .item.title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .item-row .item button {
    margin: 0.25rem;
  }
}

.total-price-container {
  display: flex;
  .price {
    display: flex;
    align-items: center;
    margin: 0.5rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

