<div class="container">
  <div class="header">
    <h2>Selected Products</h2>
    <a class="btn btn-primary" routerLink="/list">Back</a>
  </div>
  <div *ngIf="!isEmptyCart()">
    <div class="total-price-container">
      <h2>Total Price</h2>
      <div class="price">AED {{ totalPrice }}</div>
    </div>
    <div class="list">
      <div class="item-row">
        <div class="item title">Name</div>
        <div class="item title">Unit</div>
        <div class="item title">Price</div>
        <div class="item title">Total Price</div>
        <div class="item title"></div>
      </div>
      <div class="item-row" *ngFor="let product of selectedProducts">
        <div class="item">{{ product.name }}</div>
        <div class="item">{{ product.unit }}</div>
        <div class="item">{{ product.price }}</div>
        <div class="item">{{ calculatePrice(product) }}</div>
        <div class="item">
          <button
            class="btn btn-round btn-primary action"
            (click)="addItem(product.id)"
          >
            +
          </button>
          <button
            class="btn btn-round btn-danger action"
            (click)="removeItemUnit(product.id)"
          >
            -
          </button>
          <button
            class="btn btn-danger action"
            (click)="removeItem(product.id)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="" *ngIf="isEmptyCart()">
    <h1>Your cart is empty!</h1>
  </div>
</div>
