.list .item-row .item .action {
  margin: 0.5rem;
}

.total-price-container {
  display: flex;
  padding: 10px;
  .price {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    font-size: 25px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.btn-round {
  font-size: 20px;
}
