.nav-bar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: gray;
  .nav-bar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-bar-links .link {
    margin: 5px;
    color: #fff;
    font-size: 1.35rem;
    text-decoration: none;
  }
  .active {
    font-weight: bold
  }
  .cart-image {
    width: 25px;
    height: 25px;
  }
}
