.nav-bar {
  display: flex;
  padding: 20px;
  background-color: gray;
  .link {
    margin: 5px;
    color: #fff;
    font-size: 1.35rem;
    text-decoration: none;
  }
  .active {
    font-weight: bold
  }
}
